body {
    margin: 0;
    background-color: #FFFFFF;
    height: 100%;
    touch-action: manipulation;
}

#main-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 31px;
    color: black;
    letter-spacing: -0.63px;
    text-align: center;
}

input {
    margin-top: 32px;
    margin-left: 32px;
    padding-left: 30px;
    padding-right: 30px;
    width: 283px;
    height: 43px;
    background: #FFFFFF;
    border: none;
    border-radius: 21.5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0.19px;
    text-align: left;
    -webkit-appearance: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

button {
    width: 144px;
    height: 43px;
    margin-top: 32px;
    margin-left: 32px;
    margin-bottom: 32px;
    background: #FFFFFF;
    border: none;
    border-radius: 21.5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0.19px;
    text-align: center;
    -webkit-appearance: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

button:active {
    transform: scale(.9);
}

#password-display {
    display: block;
    height: auto;
    margin-top: 32px;
    margin-left: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 19px;
    color: black;
    letter-spacing: 0.19px;
    text-align: left;
}

td {
    padding: 15px;
}

footer {
    position: fixed;
    bottom: 0;
    float: right;
    margin-top: 32px;
    right: 32px;
    margin-bottom: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: black;
    letter-spacing: 0.19px;
    text-align: right;
}

a:hover {
    border-bottom: solid;
    border-width: 2px;
    border-color: blue;
}

a {
    color: black;
    text-decoration: none;
}