body {
    margin: 0;
    background-color: #FFFFFF;
    height: 100%;
    touch-action: manipulation;
}

#main-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 31px;
    color: black;
    letter-spacing: -0.63px;
    text-align: center;
}

#account {
    position: relative;
    margin-left: 32px;
    margin-bottom: 16px;
    padding-left: 30px;
    padding-right: 30px;
    height: 43px;
    width: calc(100% - 124px);
    background: #FFFFFF;
    border: none;
    border-radius: 21.5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0.19px;
    text-align: left;
    -webkit-appearance: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

#account::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: gray;
  }
#account::-moz-placeholder { /* Firefox 19+ */
    color: gray;
  }

#slider-container {
    position: relative;
    margin-left: 32px;
    margin-bottom: 16px;
    padding-left: 30px;
    padding-right: 30px;
    height: auto;
    width: calc(100% - 124px);
    background: white;
    border: none;
    border-radius: 21.5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: gray;
    letter-spacing: 0.19px;
    text-align: left;
    -webkit-appearance: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

#password-length-slider {
    width: 100%;
    margin-top: 16px;
}

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    background: transparent; /* Otherwise white in Chrome */
}
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
  
  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
  
  /*Styling the thumb in Chrome*/
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: gray;
    cursor: pointer;
    margin-top: -6px; 
}
  
  /*Styling the track in Chrome*/
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    background: lightgray;
    border-radius: 6px;
}

#slider-label {
    padding-top: 16px;
    margin-bottom: 0;
}

#slider-display {
    margin-top: 0;
    padding-bottom: 16px;
}

button {
    width: 144px;
    height: 43px;
    margin-top: 32px;
    margin-left: 32px;
    margin-bottom: 32px;
    background: #FFFFFF;
    border: none;
    border-radius: 21.5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0.19px;
    text-align: center;
    -webkit-appearance: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

button:active {
    transform: scale(.9);
}

#copy-button {
    display: none;
}

#password-display {
    display: block;
    overflow: auto;
    height: auto;
    padding-right: 30px;
    width: calc(100% - 124px);
    margin-left: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: black;
    letter-spacing: 0.19px;
    text-align: left;
}

td {
    padding: 15px;
}

footer {
    position: fixed;
    bottom: 0;
    right: 16px;
    margin-bottom: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: black;
    letter-spacing: 0.19px;
    text-align: right;
}

a:hover {
    border-bottom: solid;
    border-width: 2px;
    border-color: blue;
}

a {
    color: black;
    text-decoration: none;
}